# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
firebase-debug.*.log

# Local Environment Variables
.env
.env*.local
*.env

# Firebase
.firebase
hosting.details

# Functions
functions/node_modules
functions/lib
aitrends/node_modules
aitrends/lib
